<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns:jpa="http://www.springframework.org/schema/data/jpa"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
   
  <filter>
      <filter-name>PermissiveCORSFilter</filter-name>
      <filter-class>com.example.stefaniProekt.filters.PermissiveCORSFilter</filter-class>
  </filter>
    <filter-mapping>
        <filter-name>PermissiveCORSFilter</filter-name>
        <url-pattern>/api/products</url-pattern>
    </filter-mapping>
</web-app>